<!-- Header -->
<header id="home">
		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('assets/Template/img/background1.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Nav -->
		<nav id="nav" class="navbar nav-transparent">
			<div class="container">

				<div class="navbar-header">
					<!-- Logo -->
					<div class="navbar-brand">
						<a href="index.html">
							<img class="logo" src="assets/Template/img/logo.png" alt="logo">
							<img class="logo-alt" src="assets/Template/img/logo-alt.png" alt="logo">
						</a>
					</div>
					<!-- /Logo -->

					<!-- Collapse nav button -->
					<div class="nav-collapse">
						<span></span>
					</div>
					<!-- /Collapse nav button -->
				</div>

				 <!-- Main navigation  -->
				<ul *ngIf="BigDeviceMediaScreen" class="main-nav nav navbar-nav navbar-right">
					
						<li class="has-dropdown"><a href="#blog">בלוג</a>
							<ul class="dropdown">
									<li><a href="blog-single.html">בלוג פוסט</a></li>
								</ul>
						</li>
							<li><a href="#team">צוות</a></li>
						
							<li><a href="#newcontact">צור קשר</a></li>
						<li><a href="#about">עלינו</a></li>
				
				<li><a href="#home">בית</a></li>
				</ul>

				<ul *ngIf="!BigDeviceMediaScreen" class="main-nav nav navbar-nav navbar-right">
					
						<li><a href="#home">בית</a></li>

						<li><a href="#about">עלינו</a></li>

						<li><a href="#newcontact">צור קשר</a></li>
						
							<li><a href="#team">צוות</a></li>
						
							<li class="has-dropdown"><a href="#blog">בלוג</a>
								<ul class="dropdown">
										<li><a href="blog-single.html">בלוג פוסט</a></li>
									</ul>
							</li>
				</ul>

			
		
				<!-- /Main navigation -->

			</div>
		</nav>
		<!-- /Nav -->

		<!-- home wrapper -->
		<div class="home-wrapper">
			<div class="container">
				<div class="row">

					<!-- home content -->
					<div class="col-md-10 col-md-offset-1">
						<div class="home-content">
							<h1 class="white-text">תמלולים לכל מטרה</h1>
							<p class="white-text" style="font-size: 165%;">
								 אנו פועלים לשירות אמין,מדויק,מהיר ומתחייבים באופן מלא לסודיות מוחלטת כלפי לקוחותינו
								 <br>
								 תמלול משפטי,תמלול ראיונות,תמלול שיחות
							</p>
						<a href="#about">	<button  class="white-btn">התחל</button></a>
						<a href="#newcontact"><button class="main-btn">צור קשר</button> </a>
						</div>
					</div>
					<!-- /home content -->

				</div>
			</div>
		</div>
		<!-- /home wrapper -->

	</header>
	<!-- /Header -->

	<!-- About -->
	<div id="about" class="section md-padding ">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">ברוכים הבאים</h2>
					<h3>תמלול : העברת הקלטות קוליות לכתב , הינה פעולה שמצריכה ניסיון רב ומיומנות.
							לצוות המנוסה שלנו 15 שנות ניסיון בתחום בתמלול משפטי, תמלול ראיונות, תמלול שיחות, תמלול הקלטות.
							כיום פעולת ההעברת קול לטקסט מתבצעת אוטומטית אך לצערנו ולנסיונו הרב של צוות לייף טייפ ניתן לומר בפירוש
							כי האוטומציה שהמחשב מתרגם טקסט לקול לקויה בחסר, לכן נדרש תמלול מקצועי ופרטני על ידי אנשי מקצוע,
							הבחנה בין גוווני קול שונים, סוגי אינטונציה,מבטאים שונים וכו הם חלק מאתגרינו כחברה לתמלול.
							לתמלול מקצועי, מדויק ומהיר אנו מציעים פתרונות בדיוק לצרכים שלכם</h3>
				</div>
				<!-- /Section header -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-truck"></i>
						<h3>שירות מהיר</h3>
						<p>מתחייבים לתמלול בתוך 24 שעות בלבד</p>
						<!-- <a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-quora"></i>
						<h3>איכות ואמינות</h3>
						<p>אנו נפעל לשירות אמין ואיכותי ולסודיות מוחלטת, אנו מתחייבים להיצמד למקור ההקלטה ועל כך אין פשרות</p>
						<!-- <a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

				<!-- about -->
				<div class="col-md-4">
					<div class="about">
						<i class="fa fa-microphone"></i>
						<h3>תמיכה בכל סוגי ההקלטות</h3>
						<p>צוות התמלול שלנו תומך בקבצים שונים של שמע/וידאו, אנו ניתן מענה לכל סוג קובץ והקלטה</p>
						<!-- <a href="#">Read more</a> -->
					</div>
				</div>
				<!-- /about -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /About -->


	<!-- Portfolio -->

	<!-- /Portfolio -->

	<!-- Service -->
	<div id="newcontact" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center ">
					<h2 >לייעוץ והצעת מחיר</h2>
					<a href="tel:050-4766046"><h3 class="title">050-4766046</h3></a>
				</div>
				<!-- /Section header -->

				<div class="container">
							<!-- contact -->
				<div class="col-sm-4">
						<a href="tel:050-4766046"><div class="contact">
							<i class="fa fa-phone"></i>
							<h3>Phone</h3>
							<p>050-4766046</p>
						</div>
					</a>
					</div>
					<!-- /contact -->
	
					<!-- contact -->
					<div class="col-sm-4">
						<div class="contact">
							<i class="fa fa-envelope"></i>
							<h3>Email</h3>
							<p>dorbenmoyal@gmail.com</p>
						</div>
					</div>
					<!-- /contact -->
	
					<!-- contact -->
					<div class="col-sm-4">
						<div class="contact">
							<i class="fa fa-map-marker"></i>
							<h3>Address</h3>
							<p>Qiryat Bialik, Israel</p>
						</div>
					</div>
					<!-- /contact -->
	
					<!-- contact form -->
					<div class="col-md-8 col-md-offset-2">
						<form class="contact-form" onsubmit="return false">
							<input [ngModelOptions]="{standalone: true}" [(ngModel)]="form.name" id="firstName" name="firstName" type="text" class="input" placeholder="שם מלא" required (keyup)="nameCheck()">
							
							<input required [ngModelOptions]="{standalone: true}" [(ngModel)]="form.Email" id="Email" name="Email" type="email" class="input" placeholder="אימייל" required (keyup)="EmailCheck()">

							<input [ngModelOptions]="{standalone: true}" [(ngModel)]="form.phone" id="Phone" name="Phone" type="tel"  class="input" placeholder="נייד/טלפון" required  (keypress)="PhoneCheck($event)">
							
							<input [ngModelOptions]="{standalone: true}" [(ngModel)]="form.subject" id="FreeText" name="FreeText" type="text" class="input" placeholder="נושא" required >


						
							<textarea [ngModelOptions]="{standalone: true}" [(ngModel)]="form.freeText"class="input"  id="Comments" placeholder="הערות" ></textarea>

						
						
							<button class="main-btn" (click) = "submitTriggerd()">שלח הודעה</button>
						</form>
					</div>
					<!-- /contact form -->

				



			
					  </div>
					  
					  <div class="alert success">
						<p class="container"><span class="fa fa-check"></span>{{formMessage}} <span class="close fa fa-close"></span></p>
					  </div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->
		<app-files-upload></app-files-upload>

	</div>
	<!-- /Service -->


	<!-- Why Choose Us -->
	<div id="features" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- why choose us content -->
				<div class="col-md-6">
			
				</div>
				<!-- /why choose us content -->

				<!-- About slider -->
				<div class="col-md-6" style="direction: rtl;" >
			
						<div class="section-header">
								<h2 class="title">למה לבחור בנו</h2>
							</div>
							<h3>מתלבטים מהי הבחירה הנכונה עבורכם? הנה כמה סיבות למה לבחור בנו</h3>
							<div class="feature">
								<i class="fa fa-check"></i>
								<h4>מקצועיות ללא פשרות</h4>
							</div>
							<div class="feature">
								<i class="fa fa-check"></i>
								<h4>איכות ללא פשרות</h4>
							</div>
							<div class="feature">
								<i class="fa fa-check"></i>
								<h4>שירות ומענה אישי צמוד</h4>
							</div>
							<div class="feature">
								<i class="fa fa-check"></i>
								<h4>סטנדרטים גבוהים</h4>
							</div>

				</div>
				<!-- /About slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Why Choose Us -->


	<!-- Testimonial -->
	<div id="testimonial" class="section md-padding">

		<!-- Background Image -->
		<div class="bg-img" style="background-image: url('assets/Template/img/background3.jpg');">
			<div class="overlay"></div>
		</div>
		<!-- /Background Image -->

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Testimonial slider -->
				<div class="col-md-10 col-md-offset-1">
					<div id="testimonial-slider" class="owl-carousel owl-theme">

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="assets/Template/img/perso1.jpg" alt="">
								<h3 class="white-text">John Doe</h3>
								<span>Web Designer</span>
							</div>
							<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
						</div>
						<!-- /testimonial -->

						<!-- testimonial -->
						<div class="testimonial">
							<div class="testimonial-meta">
								<img src="assets/Template/img/perso2.jpg" alt="">
								<h3 class="white-text">John Doe</h3>
								<span>Web Designer</span>
							</div>
							<p class="white-text">Molestie at elementum eu facilisis sed odio. Scelerisque in dictum non consectetur a erat. Aliquam id diam maecenas ultricies mi eget mauris.</p>
						</div>
						<!-- /testimonial -->

					</div>
				</div>
				<!-- /Testimonial slider -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Testimonial -->

	<!-- Team -->
	<div id="team" class="section md-padding">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Our Team</h2>
				</div>
				<!-- /Section header -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="assets/Template/img/team1.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>John Doe</h3>
							<span>Web Designer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="assets/Template/img/team2.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>John Doe</h3>
							<span>Web Designer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

				<!-- team -->
				<div class="col-sm-4">
					<div class="team">
						<div class="team-img">
							<img class="img-responsive" src="assets/Template/img/team3.jpg" alt="">
							<div class="overlay">
								<div class="team-social">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-google-plus"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
								</div>
							</div>
						</div>
						<div class="team-content">
							<h3>John Doe</h3>
							<span>Web Designer</span>
						</div>
					</div>
				</div>
				<!-- /team -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Team -->

	<!-- Blog -->
	<div id="blog" class="section md-padding bg-grey">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<!-- Section header -->
				<div class="section-header text-center">
					<h2 class="title">Recents news</h2>
				</div>
				<!-- /Section header -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive" src="assets/Template/img/blog1.jpg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>John doe</li>
								<li><i class="fa fa-clock-o"></i>18 Oct</li>
								<li><i class="fa fa-comments"></i>57</li>
							</ul>
							<h3>Molestie at elementum eu facilisis sed odio</h3>
							<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
							<a href="blog-single.html">Read more</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive" src="assets/Template/img/blog2.jpg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>John doe</li>
								<li><i class="fa fa-clock-o"></i>18 Oct</li>
								<li><i class="fa fa-comments"></i>57</li>
							</ul>
							<h3>Molestie at elementum eu facilisis sed odio</h3>
							<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
							<a href="blog-single.html">Read more</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

				<!-- blog -->
				<div class="col-md-4">
					<div class="blog">
						<div class="blog-img">
							<img class="img-responsive"  src="assets/Template/img/blog3.jpg" alt="">
						</div>
						<div class="blog-content">
							<ul class="blog-meta">
								<li><i class="fa fa-user"></i>John doe</li>
								<li><i class="fa fa-clock-o"></i>18 Oct</li>
								<li><i class="fa fa-comments"></i>57</li>
							</ul>
							<h3>Molestie at elementum eu facilisis sed odio</h3>
							<p>Nec feugiat nisl pretium fusce id velit ut tortor pretium. Nisl purus in mollis nunc sed. Nunc non blandit massa enim nec.</p>
							<a href="blog-single.html">Read more</a>
						</div>
					</div>
				</div>
				<!-- /blog -->

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</div>
	<!-- /Blog -->




	<!-- Footer -->
	<footer id="footer" class="sm-padding bg-dark">

		<!-- Container -->
		<div class="container">

			<!-- Row -->
			<div class="row">

				<div class="col-md-12">

					<!-- footer logo -->
					<div class="footer-logo">
						<a href="index.html"><img src="assets/Template/img/logo-alt.png" alt="logo"></a>
					</div>
					<!-- /footer logo -->

					<!-- footer follow -->
					<ul class="footer-follow">
						<li><a href="#"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#"><i class="fa fa-youtube"></i></a></li>
					</ul>
					<!-- /footer follow -->

					<!-- footer copyright -->
					<div class="footer-copyright">
						<p>Copyright © 2017. All Rights Reserved. Designed by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
					</div>
					<!-- /footer copyright -->

				</div>

			</div>
			<!-- /Row -->

		</div>
		<!-- /Container -->

	</footer>
	<!-- /Footer -->

	<!-- Back to top -->
	<div id="back-to-top"></div>
	<!-- /Back to top -->

	<!-- Preloader -->
	<div id="preloader">
		<div class="preloader">
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
  </div>
  

<router-outlet></router-outlet>
