

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

.bg-grey{
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
body{
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.well{
    padding: 91px;
    text-align: center;
}
.FilesErrors{
   
}

.alert {
    direction: rtl;
    padding: 9px;
    background-color: #f44336;
    color: white;
    text-align: center;
   
  }

  .green{
      background-color: #4CAF50 !important;
  }

  
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .closebtn:hover {
    color: black;
  }