

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

.bg-grey{
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
body{
    background-color: #FAFAFA;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}

.well{
    padding: 91px;
    text-align: center;
}
.FilesErrors{
    direction: rtl;
}